*

!/sclc/
!/sclc/**

!/core/
!/core/**

!/frontend/
!/frontend/**

!/lib/
!/lib/**

!/tests/
!/tests/**

!/examples/
!/examples/**.scl

!/logo/
!/logo/**

!CMakeLists.txt
!.clang-format
!README.md
!LICENSE
!THIRD_PARTY_LICENSES
!LICENSE_HEADER.txt
!AGENDA.md

!/external/
!/external/**

!.gitignore

!.github/
!.github/**
